@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="div__main" style="text-align: center;margin-top: 50px;">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>
