@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account confirmed";
}

<div class="div__main" style="text-align: center;">
    <h1>@ViewData["Title"]</h1>
    <p>Account confirmed, you can now log in</p>
    <button onclick="window.location.href = '/Identity/Account/Login';" class="btn btn-outline-light" style="font-size:25px; margin: 0 10px;">Login</button>
</div>
