@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registered Successfully";
}

<div class="div__main" style="text-align: center;">
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <h3>Registration proccess ended successfull, now click this this button to confirm your account!</h3>
    <br />
    <button class="btn btn-outline-light">
      <a id="confirm-link" class="a__main" href="@Model.EmailConfirmationUrl">Confirm your account!</a>
    </button>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
</div>

