html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../img/hotel_walker_bg_photo.jpg");
  background-size: 100%;
}

table {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

.home_texts {
    color:rgba(255, 255, 255, 0.95);
    font-family:'Times New Roman', Times, serif;
}
