html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../img/hotel_walker_bg_photo.jpg");
  background-size: 100%;
}

table {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

.table__main {
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
}

.table__head {
    background-color: rgba(69, 77, 89, 0.85);
    color: white;
}

.div__main {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 30px;
}

.active {
    background-color: rgba(0, 0, 0, 0.4);
}

.sidenav {
    background-color: #111;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.a__main{
    text-decoration: none;
    color: white;
}

    .a__main:hover {
        color: rgba(31, 31, 31, 1);
    }

.a__main--room {
    text-decoration: none;
    color: white;
}

    .a__main--room:hover {
        color: rgba(11, 49, 64, 1);
        background-color: rgba(149, 181, 194, 0.75);
        padding: 5px;
        border-radius: 15px;
        border: solid 1px rgba(149, 181, 194, 0.75);
    }

.home_texts {
    color: rgba(255, 255, 255, 0.95);
    font-family: 'Times New Roman', Times, serif;
}
