@{
    ViewData["Title"] = "About us";
}

<div class="text-center container" style="padding: 50px; background-color: rgba(0, 0, 0, 0.5);">
    <h1 class="home_texts" style="font-size: 50px;">Experience the legendary<br />service in the heart of the night city</h1>
    <p class="home_texts" style="font-size: 18px; padding-top: 10px">
        Welcome to Hotel Walker, an exclusive hotel nestled in the heart of Poznań.<br />
        Our hotel is dedicated to providing our guests with the ultimate luxury experience,<br />
        from our opulent accommodations to our top-notch amenities and unparalleled service.
        <br /><br />
        At Walker, we are committed to exceeding our guests expectations in every way.<br />
        From our attentive staff to our meticulous attention to detail,<br />
        we strive to make your stay with us a truly unforgettable experience.<br />
        Book your stay today and discover the ultimate in luxury and refinement at our hotel.
    </p>
    <img src="img/logo_home_XL.png" alt="Hotel Walker Home" style="height: auto; width: 20%;" />
</div>
